---
Language: Cpp
BasedOnStyle: LLVM

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# No max line length
ColumnLimit: 0

# Indentation
AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
NamespaceIndentation: None
IndentCaseLabels: true
IndentCaseBlocks: false
FixNamespaceComments: true

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: All

# Templates / initializers
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: true
PenaltyBreakBeforeFirstCallParameter: 1000000

# Includes
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IncludeIsMainRegex: '([-_](test|unittest))?$'

# Spacing
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false

# Misc
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 2
MacroBlockBegin: ''
MacroBlockEnd: ''
...
